body {
  font-family: "gotham", montserrat;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

@font-face {
  font-family: "gotham";
  src: url('./fonts/Gotham/Gotham-Book.woff') format('woff'),
       url('./fonts/Gotham/Gotham-Book.woff2') format('woff2'),
       url('./fonts/Gotham/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "gotham-medium";
  src: url('./fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: normal;
}
